.todoItems {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  white-space: normal;
}

.todoItemsText,
.todoItemsEditedText {
  width: 401px;
  border: 1px solid #475390;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  word-break: break-all;
  line-height: 1.5;
  background-color: white;
  margin-left: 23px;
  transition: transform 0.2s;
  color: #2c3e96;
}

.todoItemsText:hover {
  transform: scale(1.02);
  background-color: rgba(165, 174, 214, 0.7);
}
.todoItemsEditedText {
  transform: scale(1.02);
}

.todoItemsEditedText:focus {
  background-color: rgba(165, 174, 214, 0.7);
}

.completedTask {
  text-decoration: line-through;
  opacity: 0.5;
}

.deleteBtn,
.toggleButton {
  width: 26px;
  height: 26px;
  cursor: pointer;
  transition: transform 0.2s;
  align-self: center;
  opacity: 0.7;
}

.editButton {
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: transform 0.2s;
  align-self: center;
  opacity: 0.7;
}

.toggleButton:hover,
.deleteBtn:hover,
.editButton:hover {
  transform: scale(1.2);
  opacity: 1;
}

.editButton {
  margin-left: 5px;
}

.toggleButton {
  margin-left: 15px;
}

.deleteBtn {
  margin-left: 15px;
}
